
#rodape{
	text-align: center;
	color: red;
	font-family: arial;
	font-size: 11;
}

#sucesso{
	text-align: center;
	color: red;
	font-family: arial;
	font-size: 40;
}

#topo{
	text-align: center;
}

tr.um {
	background: #FFFFFF;
}

tr.dois {
	background: #CCCCFF;
}

tr.tres {
	background: #0066FF;
	color:white;
}

tr.quatro {
	background: #CC9900;
}

th {
  font-family: arial;
  color: blue;
}

table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
}

th {
  text-align: center;
  height: 50px;
}

td {
  text-align: center;
}

#inputArea
{
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    background-color: #d6e5f4;
	width: 300px;
	margin: auto;
    padding: 10px;
}

#inputArea input[type="text"], #inputArea textarea
{
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    border: solid 1px #85b1de; 
    width: 300px;
    background-color: #EDF2F7;
}

#inputArea input[type="text"], #inputArea textarea
{
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    border: solid 1px #85b1de;
    width: 300px;
    background-image: url( 'blue_bg.png' );
    background-repeat: repeat-x;
    background-position: top;
}

#inputArea input[type="text"]:focus, #inputArea textarea:focus
{
    background-image: none;
    background-color: #ffffff;
    border: solid 1px #33677F;
}

#inputArea input, #inputArea textarea
{
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    width: 300px;
}